<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/troll.css">
    <title>TROLLED</title>
</head>
<body>
    <video id="background-video" autoplay loop>
        <source src="http://193.168.146.71/phenixmg/asset/trolled.mp4" type="video/mp4" >
      </video>
      
      <div class="content">
        <h1>GET TROLLED</h1>
        <h2>Life Is A Bitch</h2>
      </div>
</body>
<script>
    document.getElementById('background-video').volume = 0.2
</script>
</html>